@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  min-height: 100%;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto";
  text-align: center;
}
html {
  overflow: auto;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-210px * 10 - 1920px));
  }
}
.slider-carousel {
  animation: scroll 100s linear infinite;
}
