@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;600;700;900&display=swap");
#root {
  min-height: 100vh;
  box-sizing: border-box;
  width: 100vw;
  margin: 0 auto;
  font-family: "Roboto";
  text-align: center;
}
body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-210px * 10));
  }
}
.slider-carousel {
  animation: scroll 50s linear infinite;
}
